@font-face {
  font-family: Misto;
  src: url('fonts/Misto.woff2');
}

@font-face {
  font-family: Butler;
  src: url('fonts/Butler.woff2');
}

/* body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.app{
  background-color: #FEF7EC;
  height: 100rem;
}
html{
  background-color: #FEF7EC ;
  padding: 0 auto;
  margin: 0px auto;
}
body{
  font-family: Butler;
  color: #f7c46d;
}
header{
  text-align: center;
  background-color: #183E4E;
  height: fit-content;
  padding-top: .5rem;
  padding-bottom: 3rem;
}

h1{
  font-size: 80px;
  padding-bottom: 10px;
  background-color: #183E4E;
  font-family: Misto;
  color: #f7c46d;
  text-shadow: 2px 5px #8daa95;
  letter-spacing: 10px;
}
/* h1:hover{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

h2{
  font-family: Misto;
  font-size: 50px;
  text-align: center;
  color: #183E4E;
  text-shadow: 0px 2px #f7c46d;
  margin-top: 10px;
}

h3{
  margin: 0 auto;
  font-family: Misto;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  color: #112831;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 2px 2px #ffeac7;
}
h5{
  margin: 10px;
  font-family: Butler;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  color: #ffeac7;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px #112831;;
}

input{
  padding: 1%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  font-family: Butler;
  color: #183E4E;
  background-color: #FEF7EC;
  border-width: 0px;
}
input:hover{
  box-shadow: 0px 0px 4px #555252;
}
form{
  padding: 1%;
  text-align: center;
}
select{
  font-size: 25px;
  font-family: Butler;
  padding: 10px;
  border-radius: 15px;
  border: none
}
.form{
  padding: 5%;
  background-color: #183e4e;
  border-radius: 50px;
  margin-top: 0px;
  margin-right: 450px;
  margin-left: 450px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #98BEA2;  
    align-content: center;
    height: 350px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 9%;
    border-radius: 20px;
    box-shadow: 5px 5px #183E4E;
    transition: .7s;
}
.card:hover{
  box-shadow: 5px 5px #ffca74;
}

.price{
  font-size: 25px;
  font-weight: bold;
  font-family: Butler;
  color:#FEF7EC;
  text-shadow: 3px 1px #112831;
}

.attendees{
  font-size: 20px;
  font-family: Butler;
  text-shadow: 1px 1px #FEF7EC;
  color: #112831;
  margin: 15px;
}
.event-list{
  display: grid;
  margin: 0 auto;
  max-height: 105rem;
  grid-template-columns: auto auto auto auto;
  gap: 10% 1%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  min-width: 50rem;

}
.delete-event-btn{
  font-size: 17px;
  width: 35px;
  height: 35px;
  float: right;
  border-radius: 50%;
  border: none;
  transition: .3s;
  color: transparent;
  background-color: transparent;
  transition: .3s;
}

.delete-event-btn:hover{
  color:rgba(0, 0, 0, 0.644);
  background-color: #FEF7EC;
  box-shadow: 0px 0px 3px #183E4E;
}
.edit-btn{
  display: hidden;
  width: 35px;
  height: 35px;
  float: left;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-color: transparent;
  transition: .3s;
}
.edit-btn:hover{
  color:rgba(0, 0, 0, 0.644);
  background-color: #FEF7EC;
  box-shadow: 0px 0px 3px #183E4E;
}

.edit-event{
  align-items: center;
  justify-content: center; 
  display: inline-block;
  text-align: center;
}

.form-label{
  font-size: 20px;
  text-shadow: 1px 1px#183E4E;

}

.form-input{
  margin-top: 30px;
  font-size: 25px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  transition: .4s;
}
.form-input:hover{
  box-shadow: 0px 0px 35px rgb(0, 0, 0)
}
button.form-input{
  letter-spacing: 10px;
  font-family: Misto;
  color:#98BEA2;
  background-color:#F5C675;
  text-shadow: 2px 2px 2px#112831;
  box-shadow: 0px 7px 0px #000000;
}
button.form-input:hover{
  background-color:#98BEA2;
  box-shadow: 0px 2px 0px rgb(0, 0, 0);
 color:#F5C675;
}

.input-label{
  font-size: 30px;
  text-shadow: 1px 1px #566b6b;
  margin: 5px
}

.edit-event-input{
  text-align: center;
  width: 100%;
  display: block;
  border-radius: 5px;
  text-shadow: 1px 1px #bcc3c9;
  font-size: 20px;
}

.save-button{
  font-family: Butler;
  background-color: #183E4E;
  border: none;
  padding: 5px;
  color:#FEF7EC;
  font-size: 20px;
  align-content: center;
  text-shadow: 1px 2px #000000;
  border-radius: 5px;
  transition: .4s;
}
.save-button:hover{
  box-shadow: 0px 0px 6px #FEF7EC;
  transition: .4s;
}
.save-button:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0px 0px 6px #FEF7EC;
}

.nav-button{
  font-family: Misto;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: #98BEA2;
  text-shadow: 1px 1px #293d50;
  margin: 1%;
  font-size: 30px;
  color: #F5C675;
  padding: 1.5%;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.644);
  border-bottom: solid 5px #000000;
  overflow: hidden;
  transition: .5s;
}
.nav-button:hover{
  background-color: #F5C675;
  color:#98BEA2;
  text-shadow: 1px 1px white;
}
.nav-button:active{
  -ms-transform: translateY(3px);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
.venue-info{
  background-color:#F5C675;
  color: #FEF7EC;
  text-shadow: 2px 1px 1px#112831;
  box-shadow: 0px  3px  #112831;
  border-radius: 20px;
  padding: 5px;
  transition: .5s;
  align-self: flex-end;
}
.venue-info:hover{
  text-decoration: underline;
  color:#183e4e;
  text-shadow: 1px 1px 1px #86969e;
  box-shadow: 0px  1px  #112831;
}
.delete-edit-buttons{
  padding-bottom: 10px;
}
.delete-edit-buttons:hover{

}
.address{
  font-family: Butler;
  font-size: 20px;
  color:#112831;
  text-shadow: 1px 1px #f0f3f7;
}

.capacity{
  font-size: 20px;
  text-shadow: 1px 1px 1px #112831;
}
.phone{
  color: #6AA6A4;
  font-size: 20px;
  text-shadow: 1px 1px 1px #112831;
  background-color: #FEF7EC;
  border-radius: 30px;
  padding: 6px;
}
.venue-card{
  padding: 20%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.next-button{
  font-size: 30px;
  border-radius: 10px;;
  border: none;
  margin-bottom: 5%;
  padding: 1%;
  letter-spacing: 5px;
  font-family: Misto;
  color: #112831;
  box-shadow: 0px  4px  #112831;
  background-color:#98BEA2;
  text-shadow: 2px 2px 0px#FEF7EC;
}
.next-button:hover{
box-shadow: 0px  1px  #112831;
 background-color:#98BEA2;
 text-shadow: 2px 2px 0px#353331;
 color:#F5C675;
}
.next-container{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stats{
  background-color: #8daa95;
  border-radius: 650px;
  padding: 25px;
  margin-right: 600px;
  margin-left: 600px;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 3px 0px #000000;
}
.stats:hover{
  box-shadow: 2px 3px 0px #F5C675;
}