.card {
    border-style: ridge;
    text-align: center;
    padding: 5%;
}

.event-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2%;
}

.delete-event-btn{
  float: right;
  border-radius: 30%;
}

.edit-btn{
  float: left;
  border-radius: 30%;
}